.country-detail-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    font-size: 40px;
    
  }
  
  .country-detail-wrapper > div {
    padding: 10px;
  }
  
  .country-detail-wrapper > div img {
    width: 400px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .country-detail-wrapper > div:last-child {
    flex: 1;
    margin-left: 20px;
  }
  
  .country-detail-wrapper > div:last-child > div {
    margin-bottom: 10px;
  }
  
  .country-detail-wrapper > div:last-child > div:last-child {
    margin-bottom: 0;
  }